.flex-container{
    display: flex;
    background-color: brown;
    height: 400px;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column-reverse; */
    /*flex-wrap: wrap-reverse;*/
    
}
.flex-item{

    width: 50px;
    height: 50px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100px;
    border: 2px solid black;
    flex-shrink: 1;
}
.special{
    margin: 50px;
    padding: 30px;
    width: 300px;
    height: 300px;
    background-color: violet;
    border: 5px solid yellow; 
    box-sizing:  content-box;
}
.flex-item::before{ 
    content: "hr";
    width: 20px;
    height: 20px;
    background-color: red;}
]
.flex-item:hover{
background-color: orange;
}
.flex-item:last-child{
    flex-shrink: 6;
    background-color: green;
}